@import '../abstract/variaveis';

#bem-estar {
  margin-top: 3rem;
  display: inline-block;
  .imagem {
    width: 37%;
    margin-left: 4rem;
    float: left;
  }
  .descricao {
    text-align: justify;
    padding-left: 60%;
    margin-top: 5%;
    width: 40%;
    h3 {
      font-size: $tamanho-do-texto / 1.75;
      font-weight: 300;
      margin-bottom: 10px;
      color: $cor-primaria;
    }
    h4 {
      font-size: $tamanho-do-texto / 2.5;
      font-weight: 300;
      margin-top: 0.5rem;
      margin-bottom: 5%;
      color: $cor-primaria;
    }
    p {
      font-size: $tamanho-do-texto / 3.2;
      font-weight: 300;
      line-height: 1.25rem;
      margin-bottom: 3rem;
      color: $cor-primaria;
    }
  }
}