// Este é o arquivo SCSS que estiliza a área da barra de navegação da página

// Importação de Variáveis
@import '../abstract/variaveis';

// Estilização SCSS
nav {
  text-align: center;
  ul {
    li {
      display: inline-block;
      padding: 1rem;
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: $cor-primaria;
        &:hover {               // Seletor & é especial do SASS para aninhar e utilizar pseudoclasses do CSS
          border-bottom: 2px solid $cor-secundaria;
        }
      }
    }
  }
}